/* Estilos gerais */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: auto;
  padding: 16px;
  background-color: #1a1a1a; /* Cor escura para o fundo */
  color: #E9C46A;
  width: 360px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: solid 2px;
  border-radius: 16px;
}

button {
  width: 100%; /* Ocupa 100% da largura do container */
  height: 70px;
  border-radius: 16px;
  background: #E9C46A;
  color: #1a1a1a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  cursor: pointer; /* Adicionamos cursor para indicar que o botão é clicável */
}

.tittlemain {
  color: #E9C46A;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

footer {
  margin-top: 100px;
}

select {
  background-color: #E9C46A;
  color: #1a1a1a;
  width: 100%; /* Ocupa 100% da largura do container */
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-bottom: 0; /* Removemos o espaçamento inferior para eliminar o espaço entre o select e o footer */
  margin-top: 8px;
  /* Additional styles as needed */
}

input {
  background-color: transparent;
  color: #E9C46A;
  width: 100%; /* Ocupa 100% da largura do container */
  height: 70px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: solid 2px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:15px;
}

footer img {
  width: 105.597px;
  height: 25px;
}

footer p {
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
  /* Adicione estilos específicos para dispositivos móveis, se necessário */
  body {
    width: 100%; /* Ocupa 100% da largura da tela */
    padding: 8px; /* Reduz o espaçamento interno para dispositivos menores */
  }
}
