body {
    background-color: #FF3F61;
    font-family: 'Yeseva One', cursive;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}

nav {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: bold   ;
   
    
}

ol {
    display: flex;
  
}

ul:hover {
    color: brown    ;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.maintittle {
    color: #000;
    font-family: Yeseva One;
    font-size: 272px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}



.maintittle  p {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: -10px;
    text-align: center;
 
}

.who {
    align-items: center;
    background-color: #FFF73F;
    margin: auto;
    padding: 0%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    height: auto;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
}

.history {
    align-items: center;
    background-color: #3FF3FF;
    margin: auto;
    padding: 0%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
    
}

.cripto {
    align-items: center;
    background-color: #3FFFA3;
    margin: auto;
    padding: 0%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
}

.skill {
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 0%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
   justify-content: space-between;
}



.skill .textmain .tittle {
    color: aliceblue;
    text-align: justify;
    font-family: Yeseva One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    text-align: left;
    
    }

.skill .texttitlte {
color: aliceblue;
text-align: justify;
font-family: Yeseva One;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
width: 100%;
}

.skill .m50 {
    width: 50%;
    margin-left: 20px;
}
   

.skill .textmain .text {

        color: aliceblue;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        
        }

.star {
    width: 15px;
    height: 15px;
}

.habilidades {
    display: flex;
    flex-direction: row; 
   justify-content: space-between;
} 


.habilidades .starss {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap: 5px;
}

.habilidades .display {
    width: 100%;
    height: auto;
    flex-shrink: 0; 
    display: flex;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
   
}


.habilidades p {
    font-size: 14px;
    margin-right: 60px;
    margin-left: 60px;
}

.habilidades .positionstars {
    display: flex;
    
}

.habilidades .contentstars {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.habilidades .content {
    justify-content: space-between;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.habilidades p {
    justify-content: space-between;
    margin-right: 150px;

}
        




.goal {
    justify-content: center;
    align-items: center;
    background-color: #FFF73F;
    margin: auto;
    padding: 0%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
}

img {
    margin: 0px;
    width: 50%;
}


.textmain {
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.textmain .tittle {
color: #000;
text-align: justify;
font-family: Yeseva One;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 50px;
margin-bottom: 10px;
text-align: left;
}

.textmain .text {

color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;

}

::-webkit-scrollbar {
    color: #FF3F61;
}

  ::-webkit-scrollbar-thumb {
    background:#FFF73F;
    border-radius: 5px;
  }



  @media screen and (max-width: 765px) {
    .maintittle {
        font-size: 136px;
    }

    .maintittle p {
        font-size: 16px;
    }

    .textmain .tittle {
        font-size: 24px;
        margin-top: 50px;
    }

    .textmain .text {
        font-size: 12px;
    }

    .img {
        width: 100%;
    }

    .who {
        align-items: center;
        display: flex;
        flex-direction: column;
        clip-path: none;
    }
    .who img{
        width: 100%;
        clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);     

        
    }


.history {
    align-items: center;
    display: flex;
    flex-direction: column;
    clip-path: none;
}
.history img{
    width: 100%;
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);     

    
}
.cripto {
    align-items: center;
    display: flex;
    flex-direction: column;
    clip-path: none;
}
.cripto img{
    width: 100%;
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);     

    
}
.skill {
    align-items: center;
    display: flex;
    flex-direction: column;
    clip-path: none;
}
.skill img{
    width: 100%;
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);     

    
}
.goal {
    align-items: center;
    display: flex;
    flex-direction: column;
    clip-path: none;
}
.goal img{
    width: 100%;
    clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);     

    
}


.maintittle {
    font-size: 100px;
    
}



.maintittle  p {
    font-size: 12px;
 
}


.textmain .tittle {
color: #000;
text-align: justify;
font-family: Yeseva One;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 25px;
margin-bottom: 5px;
text-align: left;
}

.textmain .text {

color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;

}

}