.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  object-fit: contain;
  height: 500px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: aliceblue;
  margin: 0 6px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #54ff65;
}
