body {
  margin: 30px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(../images/background.png);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  background-size: cover;
  background-color: black;
}

hr {
  border-color: #54ff65;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #54ff65;
  text-decoration: none;
  padding: 10px;
  z-index: 9999;
}

nav a:hover {
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
}

.logo-pequeno {
  display: none;
  height: 100%;
}

.menu-toggle {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  margin: 1rem;
  color: #54ff65;
}

.menu-toggle span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  display: block;
  text-decoration: none;
}

.newslide img {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    z-index: 9999;
  }

  .nav-links {
    position: absolute;
    background-color: black;
    width: 100%;
    height: max-content;
    top: 120px;
    left: -101%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease-out;
    z-index: 9999;
  }

  .nav-active {
    left: 0;
  }

  nav li {
    border: 1px solid #54ff65;
    width: 100%;
  }

  .logo-grande {
    display: none;
  }

  .logo-pequeno {
    display: block;
  }

  .slide {
    display: flex;
    flex-direction: column;
    height: max-content !important;
  }

  .conteudo-carousel {
    height: max-content;
    width: 100%;
    display: flex !important;
    align-items: center !important;
    margin-left: 0 !important;
  }

  .conteudo-carousel p {
    text-align: center;
    font: 16px !important;
  }

  .titulo-carousel {
    text-align: center;
    font-size: 28px !important;
  }
}

.titulo-carousel {
  font-size: 50px;
  margin-top: 0;
  color: #54ff65;
}

.carousel {
  display: flex;
}

.slide {
  width: 100%;
  margin-left: 0%;
}

.conteudo-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80%;
  width: calc(100% - 50px);
  margin-left: 50px;
}

button {
  padding: 10px 20px;
  border-color: #54ff65;
  background-color: transparent;
  color: #54ff65;
  cursor: pointer;
  border-radius: 0px;
  font-size: 14px;
  margin: 0px;
}

button:hover {
  background-color: #54ff65;
  border-radius: 0px;
  color: black;
  transition: all 0.3s ease-in;
}

.button2 {
  padding: 10px 20px;
  background-color: transparent;
  color: #54ff65;
  cursor: pointer;
  border-radius: 0px;
}

.button2:hover {
  background-color: #54ff65;
  border-radius: 0px;
  transition: all 0.3s ease-in;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#first-row div {
  display: flex;
  align-items: center;
}

#first-row div img {
  margin: 0 15px;
}

.imagens-footer div {
  display: flex;
}

.copyright {
  display: flex;
  justify-content: center;

  color: #54ff65;
}

@media screen and (max-width: 767px) {
  #first-row div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .imagens-footer {
    width: 100%;
    flex-direction: column;
  }
}

select {
  color: #54ff65;
  font-size: small;
  width: 300px;
  height: 42px;
  border: 1px solid #54ff65;
  border-color: #54ff65;
  border-radius: 0px;
  font-size: 16px;
  background: transparent;
  text-align: center;
}
.selecttop {
  width: 100%;
  border-radius: 0px;
}
.selecttop:hover {
  width: 100%;
  border-radius: 0px;
}

select:hover {
  color: black;
  background-color: #54ff65;
  border-radius: 0px;
  height: 42px;
}

select:focus {
  color: black;
  background-color: #54ff65;
  border-radius: 0px;
  height: 42px;
  font-weight: 600;
}

input[type='number'] {
  color: #54ff65;
  width: 350px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid #54ff65;
}
input[type='number']:hover {
  background-color: transparent;
  border-color: #54ff65;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid #54ff65;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.button3 {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 16px 0px 16px 0px;
  border: solid;
  border-color: #54ff65;
  font-size: 30px;
  width: calc(100% - 80px);
  margin: 20px 40px;
}

.button3:hover {
  background-color: #54ff65;
  border-radius: 0px;
  transition: all 0.3s ease-in;
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(100% - 80px);
  margin-left: 40px;
}

.container-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 80px);
  margin: 20px 40px;
}

.text-center {
  text-align: center;
  margin: 0 40px;
}

.imagem-responsiva {
  width: auto;
}

@media screen and (max-width: 767px) {
  .imagem-responsiva {
    width: 100%;
  }

  .container-row {
    flex-wrap: wrap;
  }

  .wrapper {
    width: 100%;
  }
}

.container-column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 80px);
  margin-top: 20px;
  margin-left: 40px;
}

.container-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
  margin-top: 20px;
  margin-left: 40px;
}

.container-column h3 {
  text-align: left;
  width: 100%;
}

.container-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  color: #54ff65;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #54ff65;
}

input[type='description'] {
  color: #54ff65;
  width: 100%;
  height: 400px;
  padding: 5px;
  font-size: 16px;
  border-radius: 0px;
  border: 0px solid transparent;
  background-color: transparent;
  border: 2px solid #54ff65;
}

input[type='submit'] {
  padding: 10px 20px;
  border: solid;
  border-color: #54ff65;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
  font-size: 150%;
  width: 400px;
  height: 50px;
}

input:hover[type='submit'] {
  background-color: #54ff65;
  border-radius: 0px;
  transition: all 0.3s ease-in;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #54ff65;
  border-radius: 100px;
  vertical-align: middle;
  text-align: center;
}

input[type='checkbox']:checked + label:before {
  content: '\2713';
  background-color: #54ff65;
  color: aliceblue;
  border-color: #54ff65;
}

.dapp-menu {
  display: flex;
  justify-content: center;
  margin: 0px;
  text-align: justify;
  gap: 15px;
}

.dapp-menu-mint {
  display: flex !important;
  justify-content: center;
  margin: 30px 0 30px;
  text-align: justify;
  gap: 15px;
  flex-direction: row !important;
}

.dapp-menu-mint button {
  height: 45px;
  width: 300px;
  text-align: center;
}

.dapp-menu div {
  margin: 0 10px;
}

#dapp-div-image {
  width: 100%;
}

.word-wrap {
  word-wrap: break-word;
}

#dapp-div-image div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#dapp-div-image img {
  width: 100%;
}

@media screen and (max-width: 1055px) {
  #dapp-div-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #dapp-div-image img {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 767px) {
  .dapp-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 30px;
  }

  .dapp-menu div {
    margin: 10px;
  }

  #dapp-div-image img {
    width: 100%;
    margin-left: 0;
  }
}

textarea {
  width: 100%;
  background-color: transparent;
  color: #54ff65;
  width: 100%;
  height: 400px;
  padding: 15px;
  font-size: 16px;
  border-radius: 0px;
  border: 0px solid transparent;
  background-color: transparent;
  border: 2px solid #54ff65;
}

textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #221e2e;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #54ff65;
}

.break-buffer {
  margin: 25px 0 25px;
}

.container {
  background-image: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/black_opc50.png');
  width: (100% - 25px);
  padding: 25px;
  border-collapse: collapse;
  border-radius: 0px;
  overflow: hidden;
}

a {
  color: #54ff65;
}

.slide-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
}

.dot-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
}

.dot.active {
  background-color: #54ff65;
}

.cftitle {
  color: #54ff65;
  font-size: 36px;
}

.cftop {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  font-size: 40px;
  justify-content: space-between;
}

.cftop a {
  font-size: 16px;
  font-weight: 100;
  margin: 8px;
  text-decoration: none;
}
.cftop a:hover {
  color: aliceblue;
}

.cftitleadjust {
  display: flex;
  align-items: center;
}
.cftitleadjust img {
  width: 100%;
  height: 100%;
}

.whitepapertittle {
  font-weight: 600;
  color: #54ff65;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  margin: 0px;
}

.wpcontent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.wpimagetoken {
  width: 100%;
  margin-top: 0px;
  gap: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.wptoketext {
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 60px;
}

.wpcontent p {
  padding: 30px;
}

.wpsubtitle {
  color: #54ff65;
}

.wpsub {
  display: flex;
  gap: 10px;
}

.tokeniomics {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.roadmap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.roadmap > div p {
  text-align: justify;
}

.aprendix {
  display: flex;
  flex-direction: row;
}

.aprendix .initial-item {
  display: flex;
  align-items: center;
}

.aprendix-item {
  display: flex;
  flex-direction: column;
}

.wproad {
  display: flex;
  width: 100%;
}

.wproadinternal {
  width: 50%;
}

.wpcontent p {
  margin: 0px;
}

.cfmenu {
  justify-content: space-between;
  align-items: center;
}

.cfmid {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cfmid50 {
  width: 70%;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.cfmid50B {
  align-items: center;
  margin-bottom: 20px;
  border: solid;
  border-radius: 0px;
  border-color: #54ff65;
  padding: 10px;
}

.cftrouble {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.lottotrouble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.lottotrouble .title {
  width: 100%;
  align-items: center;
  color: #54ff65;
  font-size: 32px;
  font-weight: 600;
  text-align: right;
}

.lottotrouble .instruction {
  width: 100%;
  justify-content: center;
}

.lottotrouble ol {
  font-size: 16px;
  text-align: left;
}

.cftroubletitle {
  color: tomato;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}

.cfcoast {
  display: flex;
  justify-content: center;
  color: #54ff65;
  margin: 20px;
  font-size: 30px;
}

.cfsub {
  color: #54ff65;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .tokeniomics {
    flex-direction: column;
  }

  .roadmap {
    grid-template-columns: 1fr;
  }

  .aprendix {
    flex-direction: column;
  }

  footer {
    visibility: hidden;
  }

  .slide-container {
    display: inline-block;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .wpcontent {
    display: block;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  body {
    margin: 18px;
    font-size: 28px;
    background-image: none;
  }

  .whitepapertittle {
    font-size: 48px;
  }

  .wpimagetoken {
    width: 100%;
    size-adjust: 1000px;
  }

  .cftrouble {
    display: block;
  }

  .lottotrouble {
    flex-direction: column;
  }

  .lottodisplay {
    flex-direction: column;
    gap: 5px;
  }

  .lottodisplay p {
    margin-bottom: 0;
  }

  .lottotrouble ol {
    font-size: 18px;
  }

  .dapp-menu-mint {
    display: flex !important;
    text-align: justify;
    gap: 15px;
    flex-direction: column !important;
  }

  .cftop {
    display: flex !important;
    flex-direction: column !important;
  }

  .cftitle {
    font-size: 36px;
  }

  .cfmid50 {
    width: 100%;
  }

  .cftitleadjust {
    font-size: 80px;
  }
  .cftop a {
    font-size: 18px;
  }

  .dapp-menu-mint button {
    width: 100%;
  }

  .cfmid {
    display: block;
  }

  .cfmid {
    width: 100%;
  }

  .cfsub {
    font-size: 30px;
  }

  .logo-grande {
    visibility: none;
  }

  select {
    width: 100%;
  }

  button {
    width: 100%;
  }

  nav {
    font-size: 16px;
  }

  .slide_image_web {
    display: none;
  }

  .slide_image_cel {
    display: visible;
  }

  .lotto3 {
    flex-direction: column;
  }
}

.slide_image_web {
  visibility: visible;
}

.slide_image_cel {
  display: none;
}

.imgadjust {
  padding: 10px;
}

.lotto {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  text-align: center;
}

.lottowrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lottocontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.lottoitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lottodisplay {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.lottodisplay form {
  width: 100%;
}

.lottodisplay form p {
  text-align: center;
}

.lottodisplay form input[type='number'] {
  color: #54ff65;
  width: 100%;
  height: 36px;
  padding: 0px;
  font-size: 16px;
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid #54ff65;
  text-align: center;
}

.lottodisplay form input[type='number']::-webkit-inner-spin-button,
.lottodisplay form input[type='number']::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  border: 2px solid #54ff65;
  background-color: #221e2e;
  color: #54ff65;
  border-radius: 0px;
  width: 5px;
  height: 20px;
  padding: 2px;
  margin: 2px;
}

.lottodisplay form input[type='number'],
.lottodisplay form input[type='number'] {
  width: 99%;
}

.lotto2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.lotto4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.lotto3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.lotto3 img {
  width: 100%;
}

.lotto3 .imagem {
  width: 100%;
}

.lottobutton {
  width: 100%;
  gap: 10px;
  margin: 10px;
  display: block;
  justify-content: space-between;
}

.lottobuttonbet {
  width: 100%;
  gap: 10px;
  margin: 40px 0;
  display: block;
  justify-content: space-between;
  text-align: center;
}

.lottocharts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.lottoplayertitle {
  color: #54ff65;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}

.lottoplayerchoice {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lottotitle {
  font-weight: 600;
  font-size: 36px;
  color: #54ff65;
  text-align: center;
}

.lottotitle2 {
  width: 280px;
  margin: 10px 0 10px 10px;
  text-align: center;
  justify-content: space-between;
  border: none;
  border-radius: 0px;
  background-color: #54ff65;
  color: black;
  gap: 0px;
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  height: 42px;
}

.lottobuttonplayers {
  width: 280px;
  margin: 10px 10px 10px 0;
  display: block;
  border: solid;
  border-radius: 0px;
  align-items: center;
  justify-content: center;
}

.buttonplayer {
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  background-color: #54ff65;
  color: black;
  border-radius: 0px;
}

.lottovs {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 15px 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}

.lottomainindex {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
}

.hide-mobile {
  display: block;
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  #selection-dropdown {
    width: 100% !important;
  }

  .lottotitle2 {
    width: 100%;
    margin: 0;
  }

  .lottobuttonplayers {
    width: 100%;
    margin: 0;
  }

  .lottowrapper {
    flex-direction: column;
  }

  .lottoitem {
    flex-direction: column;
  }
}

#selection-dropdown {
  width: max-content;
}

.wrapper_accordion {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  /* make a gradient from light to dark top to bottom (turned 90*) on the clapsible bow to show some differentiation between boxes, moving the color from the contairer to this wrapper*/
}

.container_accordion {
  cursor: pointer;
  width: 100%;
  height: 100px;
  background: linear-gradient(270deg, #54ff65 0%, #7ad8c7 100%);
  color: black;
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  gap: 15px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rotatedArrow {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.whitepapertext {
  padding: 30px 0;
  font-size: 24px;
  background-color: transparent;
  text-align: justify;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 30px;
}

.whitepapertext > div:first-child {
  display: flex;
  flex-direction: column;
}

.textcontainer {
  margin: 30px;
}

.arrow2 {
  transition: transform 0.3s ease;
}

@media screen and (max-width: 767px) {
  .logog {
    padding: 0;
  }
  .container {
    font-size: 26px;
  }
  .arrow2 {
    width: 15px;
  }
  .whitepapertext {
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }
  .whitepapertext p {
    text-align: left;
  }
  .whitepapertext a {
    font-size: 16px;
  }
  .whitepaperimg {
    width: 100%;
  }
}

.alinhamento2 {
  display: flex;
}

.stake {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stake .nftContainer {
  min-width: 150px;
  min-height: 150px;
  width: 100%;
  height: 100%;
  border: solid 1px #54ff65;
  position: relative;
}

.stake .nftContainer::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.stake .nftContainerItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stake .nftContainerItem img {
  align-self: center;
}

.stake .nftContainerItem .label-id {
  width: fit-content;
  height: fit-content;
  background-color: #54ff65;
  color: black;
  padding: 5px 10px;
  position: absolute;
}

.stake .nftContainerItem .default-img {
  width: 46px;
  height: 46px;
  margin: auto;
}

.stake .nftContainerItem .nft-img {
  width: 100%;
  height: calc(100% - 44px);
  object-fit: cover;
}

.stake .display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  margin-top: 15px;
}

.stake .display-with-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  margin-top: 15px;
  flex-wrap: nowrap;
  width: 100%;
}

.stake .labeldisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stake button {
  width: 100%;
  height: 44px;
  padding: 10px 20px;
  border: 0;
  background-color: #54ff65;
  color: black;
  cursor: pointer;
  border-radius: 0px;
  font-size: 14px;
  margin: 0px;
}

.stake .title {
  font-weight: 600;
  font-size: 28px;
  margin-top: 50px;
}

.stake input {
  width: calc(100% - 12px);
  text-align: center;
  justify-content: center;
}

.stake input:hover {
  border: solid 2px #54ff65;
  border-radius: 0px;
}

.stake label {
  color: #54ff65;
}

.stake p {
  font-size: 16px;
  margin-bottom: 10px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about .title {
  font-size: 28px;
  font-weight: 600;
}

.about .text {
  font-size: 16px;
  text-align: justify;
}

.stake .nftcontainer {
  width: 100%;
  height: 100%;
  border: solid 1px #54ff65;
  margin-top: 10px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.stake .nftcontainer button {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  border: solid 1px;
}

@media screen and (max-width: 767px) {
  #nft-user-collection {
    display: flex;
    flex-wrap: wrap;
  }

  .display-with-wrap {
    flex-wrap: wrap !important;
  }

  .stake {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  .stake img {
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .stake .display {
    background-color: transparent;
  }

  .stake button {
    width: 100%;
  }

  .stake .title {
    font-weight: 600;
    font-size: 32px;
  }

  .stake input {
    width: 95%;
    text-align: center;
    justify-content: center;
  }

  .stake input:hover {
    border: solid 2px #54ff65;
    border-radius: 0px;
  }

  .stake label {
    color: aliceblue;
    font-size: 16px;
  }

  .stake p {
    margin: 0px;
    margin-bottom: 10px;
  }
}

/*---------- NFT API Cards ----------*/
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card p {
  margin-top: 5px;
  text-align: center;
}

.card button {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .card-container {
    max-width: 800px;
    margin: 0 auto;
  }
}
