@font-face {
  font-family: biosRegular;
  src: url(../fonts/BiosRegular.otf);
}

@font-face {
  font-family: biosBold;
  src: url(../fonts/BiosBold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://raw.githubusercontent.com/s0crates-eth/BON-WORLD/main/images/background.png);
  background-attachment: fixed;
  font-family: 'biosBold', sans-serif;
  color: whitesmoke;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #221e2e;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
}

.logo-container {
  height: 50px;
  margin-right: 35px;
}

.logo-grande {
  display: block;
  height: 100%;
}

.logo-pequeno {
  display: none;
  height: 100%;
}

.menu-toggle {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  margin-right: 1em;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .nav-links {
    position: absolute;
    background-color: #221e2e;
    width: 100%;
    height: max-content;
    top: 60px;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease-out;
    box-shadow: -15px 16px 15px rgba(0, 255, 221, 0.4);
  }

  .nav-active {
    left: 0;
  }

  .logo-grande {
    display: none;
  }

  .logo-pequeno {
    display: block;
  }

  .slide {
    display: flex;
    flex-direction: column;
    height: max-content !important;
  }

  .slide img {
    width: 90%;
    margin-left: 5%;
    height: auto;
  }

  .conteudo-carousel {
    height: max-content;
    width: 100%;
    display: flex !important;
    align-items: center !important;
    margin-left: 0 !important;
  }

  .conteudo-carousel p {
    text-align: center;
    font: 16px !important;
  }

  .titulo-carousel {
    text-align: center;
    font-size: 28px !important;
  }
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.slide img {
  width: 75%;
  margin-left: 5%;
  height: auto;
}

.prev,
.next {
  font-size: 48px;
  position: absolute;
  top: 50%;
  color: white;
  cursor: pointer;
  background-color: transparent;
  color: #37bfa7;
  text-shadow: rgba(0, 255, 221, 0.4) 0 0 30px;
  padding: 16px;
  border-radius: 50%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.titulo-carousel {
  font-size: 70px;
  margin-top: 0;
  color: #37bfa7;
  text-shadow: rgba(0, 255, 221, 0.4) 0 0 30px;
}

.slide p {
  font-size: 25px;
}

.slide ul {
  font-size: 25px;
}

.slide button {
  font-size: 30px;
}

.conteudo-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80%;
  width: calc(100% - 50px);
  margin-left: 50px;
}

.button69 {
  padding: 10px 20px;
  border-radius: 5px;
  border: solid;
  border-color: #37bfa7;
  background-color: transparent;
  color: #FF6347;
  cursor: pointer;
  border-radius: 16px 0px 16px 0px;
  font-family: 'biosBold', sans-serif;
  font-size: 14px;
}

.button69:hover {
  background-color: #37bfa7;
  border-radius: 16px 0px 16px 0px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
  color: #FFF;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: solid;
  border-color: #37bfa7;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 16px 0px 16px 0px;
  font-family: 'biosBold', sans-serif;
  font-size: 14px;
}

button:hover {
  background-color: #37bfa7;
  border-radius: 16px 0px 16px 0px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
}

.button2 {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 16px 0px 16px 0px;
}

.button2:hover {
  background-color: #37bfa7;
  border-radius: 16px 0px 16px 0px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
}

footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 5%;
}

#first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#first-row div {
  display: flex;
  align-items: center;
}

#first-row div img {
  margin: 0 15px;
}

.imagens-footer div {
  display: flex;
}

#copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}

@media screen and (max-width: 767px) {
  #first-row div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .imagens-footer {
    width: 100%;
    flex-direction: column;
  }
}

select {
  font-family: 'bios';
  color: #37bfa7;
  font-size: small;
  width: 300px;
  height: 42px;
  border: 4px solid #37bfa7;
  border-color: #37bfa7;
  border-radius: 0px 16px 0px 16px;
  font-size: 16px;
  background: transparent;
  text-align: center;
}

select:hover {
  color: whitesmoke;
  background-color: #37bfa7;
  border-radius: 0px 16px 0px 16px;
  box-shadow: 0 0px 16px rgba(0, 255, 221, 0.4);
  height: 42px;
}

select:focus {
  color: whitesmoke;
  background-color: #37bfa7;
  border-radius: 0px 16px 0px 16px;
  height: 42px;
}

input[type='number'] {
  font-family: 'bios';
  color: #37bfa7;
  width: 30%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border-radius: 16px;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 16px 0px 16px 0px;
  border: 2px solid #37bfa7;
}
input[type='number']:hover {
  background-color: transparent;
  border-color: #37bfa7;
  box-shadow: 0 8px 16px 0 #37BFA7(0, 0, 2, 0.2);
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 255, 221, 0.4);
  border-radius: 16px 0px 16px 0px;
  border: 2px solid #37bfa7;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.button3 {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 16px 0px 16px 0px;
  border: solid;
  border-color: #37bfa7;
  font-size: 30px;
  width: calc(100% - 80px);
  margin: 20px 40px;
}

.button3:hover {
  background-color: #37bfa7;
  border-radius: 16px 0px 16px 0px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
}

.container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(100% - 80px);
  margin-left: 40px;
}

.container-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 80px);
  margin: 20px 40px;
}

.text-center {
  text-align: center;
  margin: 0 40px;
}

.imagem-responsiva {
  width: auto;
}

@media screen and (max-width: 767px) {
  .imagem-responsiva {
    width: 100%;
  }

  .container-row {
    flex-wrap: wrap;
  }

  .wrapper {
    width: 100%;
  }
}

.container-column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 80px);
  margin-top: 20px;
  margin-left: 40px;
}

.container-column-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
  margin-top: 20px;
  margin-left: 40px;
}

.container-column h3 {
  text-align: left;
  width: 100%;
}

.container-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  font-family: 'bios';
  color: #37bfa7;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border-radius: 16px;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 16px 0px 16px 0px;
  border: 2px solid #37bfa7;
}

input[type='description'] {
  font-family: 'bios';
  color: #37bfa7;
  width: 100%;
  height: 400px;
  padding: 5px;
  font-size: 16px;
  border-radius: 16px;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 16px 0px 16px 0px;
  border: 2px solid #37bfa7;
}

input[type='submit'] {
  padding: 10px 20px;
  border-radius: 5px;
  border: solid;
  border-color: #37bfa7;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 16px 0px 16px 0px;
  font-family: 'bios', sans-serif;
  font-size: 150%;
  width: 400px;
  height: 50px;
}

input:hover[type='submit'] {
  background-color: #37bfa7;
  border-radius: 16px 0px 16px 0px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #37bfa7;
  border-radius: 100px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 0px 15px rgba(0, 255, 221, 0.4);
}

input[type='checkbox']:checked + label:before {
  content: '\2713';
  background-color: #37bfa7;
  color: white;
  border-color: #37bfa7;
}

.dapp-menu {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px;
}

.dapp-menu div {
  margin: 0 10px;
}

#dapp-div-image {
  margin: 0px 60px 30px;
  width: calc(100% - 120px);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

#dapp-div-image div {
  display: flex;
  flex-direction: column;
}

#dapp-div-image img {
  width: auto;
  margin: 20px 20px 20px 20px;
}

@media screen and (max-width: 1055px) {
  #dapp-div-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #dapp-div-image img {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 767px) {
  .dapp-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 30px;
  }

  .dapp-menu div {
    margin: 10px;
  }

  #dapp-div-image img {
    width: 100%;
    margin-left: 0;
  }
}

textarea {
  width: 100%;
  background-color: transparent;
  font-family: 'bios';
  color: #37bfa7;
  width: 100%;
  height: 400px;
  padding: 15px;
  font-size: 16px;
  border-radius: 16px;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 16px 0px 16px 0px;
  border: 2px solid #37bfa7;
}

textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #221e2e;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #37bfa7;
}

.break-buffer {
  margin: 25px 0 25px;
}

.container {
  background-image: url('https://raw.githubusercontent.com/s0crates-eth/gm/main/images/black_opc50.png');
  width: (100% - 25px);
  padding: 25px;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden
}